/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Typography
$font--primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font--secondary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$base-font-size: 16px;
$base-line-height: 25px;

// Base sizes
$font-sizes: (
    xxl:        38px,
    xl:         30px,
    l:          24px,
    m:          18px,
    s:          14px,
    xs:         12px
);

// Breakpoints
$breakpoints: (
    'xl'        '(min-width: 1440px)',
    'l'         '(min-width: 1100px)',
    'm'         '(min-width: 900px)',
    's'         '(min-width: 800px)',
    'xs'        '(min-width: 650px)'
);

// Transitions
$default-transition-speed: 300ms;
$default-resize-speed: 700ms;

// Z-index
$z-alpha:       7;
$z-beta:        6;
$z-gamma:       5;
$z-delta:       4;
$z-epsilon:     3;
$z-zeta:        2;
$z-milli:       1;
$z-base:        0;
$z-hidden:     -1;
$z-giga:     9999;
$z-mega:      110;
$z-kilo:      109;
