---
title: Example Page title
quote: I am some imported data (from this page)
---

<div class="example-page">
    
    <h1>Example page</h1>

    <p>Include a component:</p>
    <div>
        {{> button}}
    </div>
    <br />

    <p>Import some data from data file:</p>
    <div>
        <blockquote>
            {{example.welcome}}
        </blockquote>
    </div>

    <p>Import some data from page:</p>
    <div>
        <blockquote>
            {{quote}}
        </blockquote>
    </div>
    <br />

    <a href="{{baseurl}}/index.html">Return to index</a>
</div>
