---
title: Index
---

<style>.db-index{padding:0 30px 30px;}.db-index h1{font-family:sans-serif;}</style>

<div class="db-index">
    <h1>Page index</h1>
    <ul>
        <li><a href="pages/example.html">pages/example.html</a></li>
        <li><a href="pages/example-resizer.html">pages/example-resizer.html</a></li>
        <li><a href="pages/base-components.html">pages/base-components.html</a></li>
        <li><a href="pages/base-components-resizer.html">pages/base-components-resizer.html</a></li>
    </ul>
</div>
