/*------------------------------------*\
    $SITE FOOTER
\*------------------------------------*/

.site-footer {
    min-height: 200px;
    margin-top: 60px;
    padding: 20px 5%;
    background-color: #E9F2F9;
}
