/*------------------------------------*\
    $CONFIG
\*------------------------------------*/
@import 'vendor/normalize';
@import 'config/variables';
@import 'config/boilerplate';

/*------------------------------------*\
    $BASE
\*------------------------------------*/
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/base';
@import 'abstracts/type';

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
@import 'components/button';

/*------------------------------------*\
    $PAGES
\*------------------------------------*/
@import 'pages/example-page';
